@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/*shared style*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 120px;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
}
.display-flex{
    display: flex;
}
.dark1-font{
    color: #131313;
}
.dark2-font{
    color: #424242;
    
}
.dark3-font{
    color: #727272;
   
}

/*header shared style*/
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

/*navbar shared style*/

.navbar{
    justify-content: space-between;
    align-items: center;

}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
   
}
.nav-link{
    text-decoration: none;
    color:  #424242;
}

.nav-items{
   list-style: none;
   margin-right: 30px;
   font-weight: 500;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/*banner shared style*/
.banner-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 0;
}
.banner-description{
    margin-bottom: 30px;
}
.banner-image{
    width: 100%;
    margin-bottom: 30px;
}
/*teams banner related style*/
.teams{
    align-items: center;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 400;
}
.features{
    color: orange;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.quick-feature{
    margin-left: 130px;
    max-width: 530px;
}
.quick-feature-description{
    margin: 24px auto;
}
/*some facts style*/
.fact-description{
    max-width: 540px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    

}
.fact-card{
    width: 240px;
    height: 240px;
    gap: 124px;
    border: 1px solid  rgba(255, 144, 14, 1) ;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    /*margin-bottom: 150px;
    
    /*padding: 45px 35px 45px 35px;*/
}
.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/*sponsor related style*/
.sponsor-info{
    max-width: 540px;
    margin: 150px auto 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}
#feature-heading{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
}
.feature-card{
    max-width: 580px;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 30px 30px 42px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.experience-architect img{
    width: 100%;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: -350px;
    margin-left: -70px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.footer{
    background-color: rgba(255, 244, 231, 1);
    font-size: 1.25rem;
    font-weight: 500;
    max-width: 1440px;
    padding: 40px 400px;
    margin: 150px 240px;
    text-align: center;
    border-radius: 8px;
}
/*media query style*/
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams,
    .feature{
        flex-direction: column;
    }
    .teams-image-container,
    .fact-container,
    .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
        
    .fact-card{
        margin-top: 0%;
        
    }
    .fact-container{
        margin-left: 20%;
        gap: 24px;
    }
    .quick-feature{
        margin-left: 20px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 30px;
    }
    .footer{
       
        margin: 0px auto;
        padding: 0px 0px;
       
    }
}
    
/*medium device responsive*/
/*@media screen and (min-width: 576px) and (max-width:992px) {
   .teams{
    flex-direction: column;
   }
   .quick-feature{
    margin: 50px auto;
   }
   
}*/
@media screen and (min-width:576px) and (max-width: 992px) {
    .teams,.feature{
        flex-direction: column;
    }
    .quick-feature{
        margin: 50px auto;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
     .fact-container{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        justify-items: center;
     }
    
}